<%- layout('./layouts/boilerplate') %>
<h1 class="display-1">Products</h1>
<div class="d-flex flex-wrap justify-content-center">
	<% for(let product of products) { %>
	<div class="card m-3 col-3 shadow text-center bg-dark border border-light">
		<div class="card-body">
			<h5 class="card-title"><%=product.name%></h5>
			<p class="card-text">$<%=product.price%></p>
			<a href="/products/<%=product._id%>">View Details</a>
		</div>
	</div>
	<% } %>
</div>
